.videoList {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.videoGrid {
  flex-wrap: wrap;
  justify-content: center;
}
.videoRowList {
  flex-wrap: wrap;
}
@media screen and (max-width: 1117px) {
  .content {
    display: block;
  }
}

